<html>
  <div class="container">
    <body>
        <h1>Total</h1>
          <table class= "table table-bordered table-hover" >
              <thread>
                  <tr>
                      <td>Nome</td>
                      <td>Total</td>
                      <td></td>
                  </tr>
              </thread>
              <tbody>
                <% @total.each do |soma| %>
                  <tr>
                      <td><%= soma.nome %></td>
                      <td><%= soma.total %></td>
                      <td width="05%">
                        <%= link_to "Detalhar",detalhar_path(soma.codigo_user),class: "btn btn-primary"%>
                      </td>
                  </tr>
                  <% end %>
              </tbody>
          </table>
          <hr>
            <%= paginate @total %>
          <hr>
    </body>
  </div>
</html>
